@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-Medium.ttf);
}
@font-face {
    font-family: "Gilroy";
    src: url(../font/Gilroy-Regular.ttf);
}